[main]
cacheFolder=""
gameListFolder=""
gameListBackup="false"
artworkXml=""
videos="false"
verbosity="0"
hints="false"
unattend="true"
regionPrios="us, wor, eu, jp, ss, uk, au, ame, de, cus, cn, kr, asi, br, sp, fr, gr, it, no, dk, nz, nl, pl, ru, se, tw, ca"

[screenscraper]
userCreds="USER:PASS"
