[main]
binary="/bin/Skyscraper.x86"
inputFolder=""
cacheFolder=""
gameListFolder=""
gameListBackup="false"
artworkXml=""
videos="false"
verbosity="0"
hints="false"
unattend="true"

[screenscraper]
userCreds="USER:PASS"
